/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 359px) {
    html {
      font-size: 12px; } }
  @media (min-width: 1600px) {
    html {
      font-size: 20px; } }
  html *,
  html *:before,
  html *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit; }

body {
  font-size: 1rem;
  font-family: "Arimo-Bold", sans-serif;
  line-height: 1.4;
  color: #ffffff; }
  @media (min-width: 1024px) {
    body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

ul,
ol {
  padding: 0;
  margin: 0; }

ul {
  list-style-type: disc;
  margin-left: 1rem;
  padding-left: 1rem; }

small {
  font-size: 75%; }

a {
  color: inherit;
  text-decoration: none;
  font-weight: 700; }

img {
  max-width: 100%; }

h1,
.h1 {
  font-size: 2.25rem;
  margin-bottom: 1rem; }

h2,
.h2 {
  font-size: 2rem;
  margin-bottom: 1rem; }

h3,
.h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem; }

p {
  font-size: 1rem;
  margin: 0.5rem 0; }

button {
  border: none;
  background: none;
  color: #ffffff; }

.wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative; }
  @media (min-width: 768px) {
    .wrapper {
      margin-left: 4rem;
      margin-right: 4rem; } }
  @media (min-width: 1024px) {
    .wrapper {
      max-width: 64rem;
      margin-left: 2rem;
      margin-right: 2rem; } }

.colapse-itm {
  width: 100%;
  max-height: 0;
  min-width: 300px;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  @media (min-width: 1024px) {
    .colapse-itm {
      display: unset; } }

.component {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.hide-mob {
  display: hidden; }
  @media (min-width: 1024px) {
    .hide-mob {
      display: unset; } }

.hide-desk {
  display: hidden; }
  @media (max-width: 768px) {
    .hide-desk {
      display: unset; } }

.leftSide {
  background-color: #373d48;
  min-width: 300px;
  width: 100%;
  padding: 1rem 1rem 1rem;
  text-align: left; }
  @media (min-width: 1024px) {
    .leftSide {
      max-width: 300px;
      margin: 0; } }

.line {
  position: absolute;
  background-color: rgba(55, 61, 72, 0.3);
  width: 100%;
  height: 1px; }

tbody {
  padding-top: 1rem; }

td {
  padding-top: 1rem;
  min-width: 7rem; }

.btn-main {
  color: #252932;
  font-size: 1.25rem;
  padding: 0.25rem 0.25rem;
  font-weight: 700;
  border-top: 1px solid rgba(55, 61, 72, 0.3);
  border-bottom: 1px solid rgba(55, 61, 72, 0.3);
  width: 100%;
  text-align: left;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Arimo-Bold", sans-serif; }
  .btn-main:after {
    content: "\02795";
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px; }
    @media (min-width: 1024px) {
      .btn-main:after {
        display: none; } }

.active:after {
  content: "\2796"; }

.header {
  min-width: 300px;
  background-color: #373d48;
  width: 100%;
  padding: 1rem 1rem 1rem;
  text-align: left; }
  @media (min-width: 1024px) {
    .header {
      max-width: 300px;
      margin: 0; } }

.img-box {
  height: 37.5rem; }
  .img-box__img {
    background-image: url(../img/DSC08674.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: 100%;
    width: auto; }
    @media (min-width: 580px) {
      .img-box__img {
        background-position: top center; } }
    @media (max-width: 1024px) {
      .img-box__img {
        background-position: center center; } }

.personalData {
  margin-left: -1rem;
  margin-right: -1rem;
  padding-bottom: 1rem; }
  .personalData__cont {
    padding-left: 2rem; }

.skills {
  margin-left: -1rem;
  margin-right: -1rem;
  padding-bottom: 1rem; }
  .skills__cont {
    margin: 0;
    padding-top: 0.5rem;
    margin-left: 2rem; }

.progres {
  margin-left: 1rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  .progres__box {
    float: left;
    display: block;
    width: 100%;
    height: 10px;
    background-color: #ffffff; }
    .progres__box--dark {
      background-color: #252932;
      float: left;
      display: block;
      width: 100%;
      height: 10px; }
    .progres__box--dark-half {
      background-color: #ffffff;
      float: right;
      display: block;
      width: 50%;
      height: 10px; }

.flex-cont {
  position: relative;
  display: block; }
  @media (min-width: 768px) {
    .flex-cont {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

@media (min-width: 768px) {
  .flex-itm {
    margin: 2rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 200px;
    height: auto; } }

@media (min-width: 1024px) {
  .flex-itm {
    margin: 0;
    padding: 0; } }

.btn-leftSite {
  background-color: #252932;
  color: white;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  min-width: 300px;
  text-align: left;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Arimo-Bold", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .btn-leftSite:hover {
    background-color: #777; }
  @media (min-width: 1024px) {
    .btn-leftSite {
      pointer-events: none;
      max-width: 300px; } }
  .btn-leftSite:after {
    content: "\02795";
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px; }
    @media (min-width: 1024px) {
      .btn-leftSite:after {
        display: none; } }

.active:after {
  content: "\2796"; }

.exp {
  color: #252932;
  min-width: 300px; }
  .exp__hdr {
    margin: 0;
    padding: 0.25rem 0.25rem 0.25rem 0px;
    font-weight: 700; }

.edu__hdr {
  margin: 0;
  padding: 0.25rem 0.25rem 0.25rem 0px;
  font-weight: 700; }

.hobby {
  color: #252932;
  min-width: 300px; }

.footer {
  min-width: 300px;
  margin: 0; }
  .footer p {
    min-width: 300px;
    color: #252932;
    padding: 1rem;
    text-align: center; }

.copyright {
  min-width: 300px;
  margin-top: 2rem;
  text-align: center;
  cursor: pointer;
  color: #252932; }

.getPdf {
  text-align: center;
  color: #252932;
  cursor: pointer; }
